<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuevo producto</ion-card-title>
      <ion-card-subtitle>Ingresar datos del producto</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-select label="Local" [(ngModel)]="local">
          <ion-select-option value="castanio">Castaño</ion-select-option>
          <ion-select-option value="paradiso">Paradiso</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Nombre" [(ngModel)]="producto.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Precio" [(ngModel)]="producto.precio"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="botonInsertar()" color="tertiary"><ion-icon name="add-circle-outline"></ion-icon> Agregar producto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-tab-button>
        <ion-tab-button tab="radio"  [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="cart-outline"></ion-icon>
          Carrito
        </ion-tab-button>
        <ion-tab-button tab="search" [routerLink]="['/stock']">
          <ion-icon name="file-tray-outline"></ion-icon>
          Stock
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>