<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>DuocEAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="Inicio" ></ion-img>
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Correo" type="email" [(ngModel)]="credenciales.correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Clave" type="password" [(ngModel)]="credenciales.password"></ion-input>
          </ion-item>
        </ion-list>
        <div class="button-container">
          <ion-button expand="block" color="tertiary" (click)="login()">
            Ingresar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
